---
title: Archive
layout: page
pageOrder: 2
---

nav.linklist
    for document in getCollection('posts').toJSON()
        a.list-group-item(href!=document.url)
            h4.pull-left!= document.title
            span.pull-right!= document.date.toDateString()
            div.clearfix
            