aside.list-group
    h3 Peter also uses
    a.list-group-item(href="http://stackoverflow.com") StackOverflow
    a.list-group-item(href="http://github.com") GitHub
    a.list-group-item(href="http://linkedin.com") LinkedIn