aside.list-group
    h3 Peter also uses
    a(href="http://stackoverflow.com/users/1418063/pmacnaughton",target="_blank")
        img.profile-icon.img-thumbnail(src="/images/stackoverflow.svg",alt="StackOverflow")
    a(href="http://careers.stackoverflow.com/pmacnaughton",target="_blank")
        img.profile-icon.img-thumbnail(src="/images/careers.svg",alt="StackOverflow Careers")
    a(href="http://github.com/pmacn",target="_blank")
        img.profile-icon.img-thumbnail(src="/images/github.svg",alt="GitHub")
    a(href="http://www.linkedin.com/in/pmacnaughton/",target="_blank")
        img.profile-icon.img-thumbnail(src="/images/linkedin.svg",alt="LinkedIn")