aside
    h1 Also available on
    for profile in site.profiles
        a(href!= profile.url,target="_blank")
            img.profile-icon.img-thumbnail(src="/images/#{profile.icon}",alt!= profile.name, title!= profile.name)