aside.list-group
    h3 Peter also uses
    a.list-group-item(href="http://stackoverflow.com/users/1418063/pmacnaughton") StackOverflow
    a.list-group-item(href="http://github.com/pmacn") GitHub
    a.list-group-item(href="www.linkedin.com/in/pmacnaughton/") LinkedIn