---
layout: default
---

article#post.post
	h1!= document.title
	.post-content!= content

if document.relatedDocuments && document.relatedDocuments.length > 0
footer
	section#related
		h3 Related Posts
		nav.linklist
			for relatedDocument in document.relatedDocuments
				li
					span!= relatedDocument.date.toDateString()
					a(href!= relatedDocument.url)!= relatedDocument.title